/* Message types - log levels */
@import url("/assets/css/msg-types.css");

/* Message badges - GitHub style */
@import url("/assets/css/badges.css");

/* Center ALL Chirpy preview images 
  .post-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
*/

/* Center only specific preview images */
.img-center {
  display: block;
  margin: 0 auto;
}
