---
layout: default
---

<div id="main" class="container-fluid flex-fill mx-lg-4">
  <div class="row">
    <!-- core -->
    <div id="panel-lastmod" class="col-lg-12 col-xl-9">
      <div class="row">
        <!-- page content -->
        <div class="col-12 px-0 mb-3">
          <div
            class="fw-bold border-bottom pb-2 mb-3 d-flex justify-content-between"
          >
            {% assign _tab_title = page.title %} {% if _tab_title == nil or _tab_title == empty %}
            {% assign _tab_title = 'Untitled' %} {% endif %}
            <div class="title">{{ _tab_title }}</div>
          </div>
          <!-- ✅ Render the page/post content directly -->
          {{ content }}
        </div>
      </div>
      <!-- comments -->
      {% if page.comments != false %} {% include comments.html %} {% endif %}
    </div>

    <!-- panel -->
    <div id="panel-toc" class="col-lg-3 d-none d-lg-block">
      {% include panel-toc.html %}
    </div>
  </div>
</div>

{% include footer.html %}
